html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  color: #06c;
}
.ConsoleWindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 30em;
  height: 20em;
  margin: 0;
  padding: 5px;
  overflow: auto;
  font-size: small;
  text-shadow: 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000, -1px 0 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000;
}
.ConsoleWindow .log {
  color: #090;
}
.ConsoleWindow .warn {
  color: #f66;
}
.ConsoleWindow .error {
  color: #f00;
}
.named .scope {
  position: fixed !important;
}
header {
  margin: 0.5em;
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}
header h1 {
  margin: 0;
}
header h1 a {
  text-decoration: none;
}
article {
  margin: 0.5em;
  line-height: 140%;
}
article .ikagaka .baseware {
  text-align: center;
  margin: 1em;
}
article .ikagaka .baseware button {
  display: block;
  margin: 0.2em auto;
}
article .ikagaka .ghosts {
  border-top: 1px solid #999;
  list-style: none;
  max-width: 50em;
  margin: 0.5em auto;
  padding: 0em;
}
article .ikagaka .ghosts li {
  border-bottom: 1px solid #999;
  margin: 0em auto;
  padding: 0.2em;
}
article .ikagaka .ghosts li .name {
  font-weight: bold;
}
article .ikagaka .ghosts li button.change,
article .ikagaka .ghosts li button.call,
article .ikagaka .ghosts li button.close,
article .ikagaka .ghosts li .install {
  display: inline-block;
  border: none;
  color: #fff;
  font-size: medium;
  margin: 0 0.2em;
  padding: 0.5em;
}
article .ikagaka .ghosts li button.change {
  background: #06f;
}
article .ikagaka .ghosts li button.call {
  background: #0c0;
}
article .ikagaka .ghosts li button.close {
  background: #f00;
}
article .ikagaka .ghosts li .install {
  background: #f90;
}
article .ikagaka .ghosts li ul.list {
  list-style: none;
}
article .ikagaka .ghosts li ul.list li {
  border-bottom: none;
  margin: 0.2em 0;
}
article .ikagaka .ghosts li ul.list li.ok {
  color: #fff;
  cursor: pointer;
}
article .ikagaka .ghosts li ul.list li.ng {
  color: #999;
  background: #ccc;
}
article .ikagaka .ghosts li .change .list li {
  background: #06f;
}
article .ikagaka .ghosts li .call .list li {
  background: #0c0;
}
article .notice {
  font-size: smaller;
}
article h2 {
  margin: 0.5em 0;
  padding: 0.5em 0;
  border-bottom: 1px solid #ddd;
}
article p {
  margin: 0.5em;
}
article ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}
article ul li {
  margin: 0.5em;
}
article dl {
  margin: 0;
  padding: 0;
}
article dl dt {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
article dl dd {
  margin: 0;
  padding: 0 0 0 1.5em;
}
footer {
  margin: 0.5em;
}
