html, body
	width 100%
	height 100%
	margin 0
	padding 0

a
	color #06c

header
	margin 0.5em
	padding 0.5em
	border-bottom 1px solid #ccc
	h1
		margin 0
		a
			text-decoration none
article
	margin 0.5em
	line-height 140%
	.nar
		label
			display block
			float left
			margin 0.5em
			padding 0.5em
			color #fff
			background #06f
		&:after
			content ""
			display block
			clear both
	h2
		margin 0.5em 0
		padding 0.5em 0
		border-bottom 1px solid #ddd
	p
		margin 0.5em
	ul
		margin 0
		padding 0 0 0 1.5em
		li
			margin 0.5em
	dl
		margin 0
		padding 0
		dt
			margin 0
			padding 0
			font-weight bold
		dd
			margin 0
			padding 0 0 0 1.5em
footer
	margin 0.5em
